<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Name Veterinary Practice</title>

    <link rel="stylesheet" type="text/css" href="/styles/button.css">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">
    <link rel="stylesheet" type="text/css" href="/styles/background.css">
    <link rel="stylesheet" type="text/css" href="/styles/view.css">
  </head>
  <body>
    <nav>
          <a href="/">Home</a>
    </nav>

    <%= yield %>

  </body>
</html>
