<h2 class="pets"> Creature Comforts' Pets </h2>


<form method="get" action="/pets/new">
  <input type="submit" value="Add Pet"/>
</form>

<form method="get" action="/appointments/new">
  <input type="submit" value="Add Appointment"/>
</form>


<table>
  <tr>
    <th>Name</th>
    <th>Vet</th>
    <th>Species</th>
    <th>View Pet</th>
  </tr>
  <% for pet in @pets %>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.find_vet().name %></td>
    <td><%= pet.species %></td>
    <td><a href="/pets/<%= pet.id %>">View Pet</a></td>
  </tr>
  <% end %>
</table>
