<h2 class="pets"> Creature Comforts' Pets </h2>


<form method="get" action="/pets/new">
  <input type="submit" value="Add Pet"/>
</form>

<form method="get" action="/appointments/new">
  <input type="submit" value="Add Appointment"/>
</form>


<% for pet in @pets %>
<p class="pets"> Name: <%= pet.name %> </p>
<p class="pets"> Vet: <%= pet.find_vet().name %> </p>
<p class="pets"> Species: <%= pet.species %> </p>

<form method="get" action="/pets/<%= pet.id %>" class="pets">
  <input type="submit" value="Select Pet"/>
</form>




<% end %>
