<h2> Creature Comforts Veterinary Practice Vets </h2>

<% for vet in @vets %>
<h3 class="vet"> <%= vet.name %> </h3>

   <form method="get" action="/vets/<%= vet.id %>">
     <input class="vetbtn" type="submit" value="Select Vet"/>
   </form>
 <br>
 <hr />
<% end %>
