<h2> Name Veterinary Practice Vets </h2>

<% for vet in @vets %>
<p> Name: <%= vet.name %> </p>

   <form method="get" action="/vets/<%= vet.id %>">
     <input type="submit" value="Select Vet"/>
   </form>
 <br>
 <hr />
<% end %>
