main.images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main.text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2.viewpets {
  padding-right: 500px;
}

body {
  background-image: url('/images/background3.png');
  font-family: monospace;
  font-size: 1.25em;
}

section.appointments{
  background-color: white;
  opacity: 80%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

ul.practice {
  padding-left: 200px;
}

nav {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

a.nav {
  color: rgb(222,204,167);
}

a.nav:visited {
  color: rgb(222,204,167);
}

a.nav:hover {
  color: black;
}

h1.title {
  display: flex;
  justify-content: center;
}

img.opacity:hover {
  opacity: 0.75;
}
