
h2.pets {
  display: flex;
  justify-content: center;
}


form.vetbutton {
  display: flex;
  flex-direction: row;
}

li.vetpets {
  padding-left: 500px;
}

img.pet {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3.petdetails {
  display: flex;
  justify-content: center;
}

img.showowner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  text-align: center;
}

td {
  padding: 20px 50px 0px 20px;
  border-bottom: 1px solid white;
}

th {
  padding: 20px 20px 10px 0px;
  border-bottom: 1px solid black;
}

table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

h3.vet {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

hr {
  width: 15%;
}

img.vet {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
