<form class="create" action="/owners" method="post">

  <label for="name">Name:</label>
    <input id="name" type="text" name="name" />


    <label for="contact_number">Contact Number:</label>
    <input id="contact_number" type="contact_number" name="contact_number">

    <label for="registration">Registration Status:</label>
    <select id="registration" name="registration">
      <option value="Registered"> Registered </option>
      <option value="Not Registered"> Not Registered </option>
    </select>

    <label for="url">Picture:</label>
    <input id="url" type="text" name="url" />

    <input class="submit-button" type='submit' value="Add Owner"/>

</form>
